# Ignore virtual environments
venv/
stenv/
.env/

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Streamlit specific
.streamlit/secrets.toml
*.pydeventlog
*.streamlit-telemetry

# VS Code / IDEs
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db
